<div class="container p-6">
    <article class="media">
        <figure class="media-left">
            <p class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    {{#each user as |user|}}
                    <strong>{{user}}</strong>
                    {{/each}}
                    <br>
                    {{comment}}
                    <br>
                    <small><a>Comment</a></small>
                </p>
            </div>
        </div>
    </article>
</div>