<!-- Start blog post content here! -->
<article class="media">
    <figure class="media-left">
        <p class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{user.user_name}}</strong>
                <br>
                {{post}}
                <br>
                {{!-- <small><a id="commentLink" data-user="{{id}}">Comment</a></small> --}}
            </p>
        </div>
        <!-- Start comment insert loaded comments into here-->  
    {{#each comments as |comment|}}
    {{> comment-block}}
    {{!-- {{log comment}} --}}
    {{/each}}
    <!-- End comment -->
    </div>
</article>