<!-- Start blog post content here! -->
<article class="media">
    <div class="media-content">
        <div class="content">
            <p class="is-size-3">
                <strong>{{user.user_name}}</strong>
                <br>
                {{title}}
                <br>
            </p>
            <p>
                <span><a id="editPost" data-post="{{id}}">Edit</a></span>
                <span><a id="removePost" data-post="{{id}}">Remove</a></span>
            </p>
        </div>
    </div>
</article>