<div class="columns p-0">
    <div class="column is-half is-offset-one-quarter p-0">
        <h3 class="is-size-4 pb-6 has-text-centered has-text-link" data-post="{{id}}" id="blogPreview">{{title}}</h3>
    </div>
</div>