<div class="container p-6">
    <div class="level">
        <div class="level-right">
            <button class="level-item button is-primary is-light" id="postBtn">Make a post</button>
        </div>
    </div>

    {{#unless posts}}
    <h3 class="is-size-4">You haven't posted anything yet, get to it!</h3>
    {{/unless}}

    {{#each posts as |post|}}
    {{> blog-post}}
    {{!-- {{log post}} --}}
    {{/each}}
</div>

<script src="../public/dashboard.js"></script>

