{{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link href="../../public/styles.css" rel="stylesheet"> --}}
<div class="container">
    <div class="section is-medium has-background-primary-light">
        <h3 class="is-size-2">Welcome to the tech blog!</h3>
        <h4 class="is-size-4 mb-5">Sign in or sign up to post some shit.</h4>
        <button class="button is-primary" id="signUpBtn">Sign up</button>
    </div>
</div>